<div class="settings-control-container no-print">
    @if(contentSettings(); as settings) {
    <div class="settings-tabs-container" (wheel)="$event.stopPropagation()">
        <mat-tab-group dir="rtl" dynamicHeight class="custom-tabs sm" stretchTabs>
                        <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-label">
                        <span class="pi pi-list"></span>
                        <span>תוכן</span>
                    </div>
                </ng-template>
                <div class="settings-tab-content">
                    <div class="settings-section">
                        <label class="section-label">
                            <span class="pi pi-align-justify"></span>
                            <span>הצגת אירועים</span>
                        </label>
                        <div class="content-settings-grid">
                            @for(item of ContentSettingsEnumData(); track item.key) {
                            <div class="form-group-row">
                                <p-checkbox 
                                    size="small"
                                    [ngModel]="settings[item.key]"
                                    (ngModelChange)="onContentSettingChange($event, item.key, 'general')"
                                    [binary]="true" [inputId]="item.key">
                                </p-checkbox>
                                <label [for]="item.key">{{item.hebName}}</label>
                            </div>
                            }
                        </div>
                    </div>

                    <hr class="section-divider" />

                    <div class="settings-section">
                        <div class="flex w-full justify-between items-center">
                            <label class="section-label">
                                <span class="pi pi-book"></span>
                                <span>לימוד יומי</span>
                            </label>
                            <span class="text-xxs text-grey-500"> בחר עד {{maxLearningToShow()}} נושאי לימוד</span>
                        </div>
                        <div class="content-settings-grid  relative">
                            @for(learn of LearningEnumData(); track learn.key) {
                            <div class="form-group-row">
                                <p-checkbox 
                                    size="small"
                                    [disabled]="!settings.dailyLearningVisibility[learn.key] && learningCheckedCount() >= maxLearningToShow()"
                                    [ngModel]="settings.dailyLearningVisibility[learn.key]"
                                    (ngModelChange)="onContentSettingChange($event, learn.key, 'dailyLearning')"
                                    [binary]="true"                                        
                                    [inputId]="'learnCheck-' + learn.key">
                                </p-checkbox>
                                <label [for]="'learnCheck-' + learn.key" 
                                       [class.opacity-50]="!settings.dailyLearningVisibility[learn.key] && learningCheckedCount() >= maxLearningToShow()">
                                    {{learn.hebName}}
                                </label>
                            </div>
                            }
                            <ng-container *ngTemplateOutlet="desktopOverlay"></ng-container>
                        </div>

                    </div>

                    <hr class="section-divider" />

                    <div class="settings-section">
                        <div class="flex w-full justify-between items-center">
                            <label class="section-label">
                                <span class="pi pi-clock"></span>
                                <span>זמני היום</span>
                            </label>
                            <span class="text-xxs text-grey-500"> בחר עד {{maxZmanimToShow()}} זמנים</span>
                        </div>
                        <div class="content-settings-grid  relative">
                            @for(zman of ZmanimEnumData(); track zman.key) {
                            <div class="form-group-row">
                                <p-checkbox 
                                    size="small"
                                    [disabled]="!settings.zmanimVisibility[zman.key] && zmanimCheckedCount() >= maxZmanimToShow()"
                                    [ngModel]="settings.zmanimVisibility[zman.key]"
                                    (ngModelChange)="onContentSettingChange($event, zman.key, 'zmanim')"
                                    [binary]="true"
                                    [inputId]="'zmanCheck-' + zman.key">
                                </p-checkbox>
                                <label [for]="'zmanCheck-' + zman.key"
                                       [class.opacity-50]="!settings.zmanimVisibility[zman.key] && zmanimCheckedCount() >= maxZmanimToShow()">
                                    {{zman.hebName}}
                                </label>
                            </div>
                            }
                            <ng-container *ngTemplateOutlet="desktopOverlay"></ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-label">
                        <span class="pi pi-cog"></span>
                        <span>כללי</span>
                    </div>
                </ng-template>
                <div class="settings-tab-content">
                    <div class="settings-section">
                        <div class="flex w-full items-center justify-between">
                            <label class="section-label">
                                <span class="pi pi-map-marker"></span>
                                <span>מיקום</span>
                            </label>
                            @if (showLocationResetButton()) {
                                <p-button @slideDown class="xs-icon" severity="secondary" [text]="true" [rounded]="true"
                                    icon="pi pi-compass" pTooltip="המיקום שלי" tooltipPosition="left"
                                    (onClick)="setCurrentLocation()" aria-label="המיקום שלי">
                                </p-button>
                            }
                        </div>
                        <p-select #locationDropdown
                            [ngModel]="selectedLocation()"
                            (ngModelChange)="onSettingUpdate('location', $event)"
                            [options]="groupedCities()"
                            optionLabel="cityHeb"
                            [group]="true"
                            [filter]="true"
                            filterBy="cityHeb" 
                            placeholder="בחר עיר" 
                            
                            class="w-full">
                            <ng-template pTemplate="selectedItem">
                                @if(selectedLocation(); as location) {
                                <div class="flex items-center gap-2">
                                    <span>{{ location.cityHeb }}</span>
                                </div>
                                }
                            </ng-template>

                            <ng-template let-group pTemplate="group">
                                <div class="flex items-center country-group">
                                    <span class="flag"
                                        [class]="'flag-' + (group.items[0].countryCode | lowercase)"></span>
                                    <span>{{ group.countryHeb }}</span>
                                </div>
                            </ng-template>
                            <ng-template let-city pTemplate="item">
                                <div>{{ city.cityHeb }}</div>
                            </ng-template>
                        </p-select>
                    </div>

                    <hr class="section-divider" />

                    <div class="settings-section">
                        <label class="section-label">
                            <span class="pi pi-palette"></span>
                            <span>עיצוב</span>
                        </label>
                        <div class="flex flex-col gap-4">
                            <div class="form-group">
                                <label>בהירות גבולות</label>
                                <p-slider class="my-2 mx-4" [ngModel]="borderBrightness()"
                                    (onChange)="onSettingUpdate('borderBrightness', $event.value)" [min]="0" [max]="100"></p-slider>
                            </div>
                            <div class="form-group">
                                <div class="flex items-center justify-between w-full">
                                    <label>צבע הלוח</label>
                                    <div class="form-group-row">
                                        <p-checkbox
                                            class="flex"
                                            size="small"
                                            [ngModel]="settings.showShabbatBackgrounds"
                                            (ngModelChange)="onContentSettingChange($event, 'showShabbatBackgrounds', 'general')"
                                            [binary]="true"
                                            inputId="shabbatBgCheck">
                                        </p-checkbox>
                                        <label for="shabbatBgCheck">הצג רקעים לשבת וחג</label>
                                    </div>
                                </div>
                                <div class="color-options-container">
                                    @for (color of colors(); track color) {
                                    <div class="color-swatch" [style.background-color]="color"
                                        [ngClass]="{'selected': shabbatHolidayColor() === color}"
                                        (click)="onSettingUpdate('shabbatColor', color)">
                                    </div>
                                    }
                                </div>
                                
                                <div class="form-group expandable mt-2" [class.expanded]="settings.showShabbatBackgrounds">
                                    <label>שקיפות רקע</label>
                                    <p-slider class="my-2 mx-4" [ngModel]="shabbatBackgroundOpacity()"
                                        (onChange)="onSettingUpdate('shabbatOpacity', $event.value)"
                                        [min]="1" [max]="5" [step]="0.1"></p-slider>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>פונט</label>
                                <p-select
                                    appendTo="body"
                                    [ngModel]="selectedFont()"
                                    (ngModelChange)="onSettingUpdate('font', $event)"
                                    [options]="fontOptions()" optionLabel="name"
                                    optionValue="value"
                                    placeholder="בחר פונט" class="w-full font-selector">
                                    <ng-template pTemplate="item" let-option>
                                        <div class="font-option">
                                            <div class="font-name">{{ option.name }}</div>
                                            <div class="font-preview" [style.fontFamily]="option.value">
                                                כ״ה אלול תשפ״ה • 25 September 2025
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="selectedItem" let-option>
                                        <div [style.fontFamily]="option.value">
                                            {{ option.name }}
                                        </div>
                                    </ng-template>
                                </p-select>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-label">
                        <span class="pi pi-print"></span>
                        <span>הדפסה</span>
                    </div>
                </ng-template>
                <div class="settings-tab-content">
                    <div class="settings-section">
                        <label class="section-label">
                            <span class="pi pi-print"></span>
                            <span>הגדרות הדפסה</span>
                        </label>
                        <div class="print-selector-form">
                            <div class="flex w-full justify-between gap-3">
                                <div class="form-group">
                                    <label>מחודש:</label>
                                    <div class="form-row">
                                        <p-datepicker
                                            panelStyleClass="custom-datepicker-panel"
                                            [(ngModel)]="printStartDate"
                                            view="month"
                                            dateFormat="mm/yy"
                                            [readonlyInput]="true" 
                                            (click)="$event.stopPropagation()" 
                                            />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>עד חודש:</label>
                                    <div class="form-row">
                                        <p-datepicker
                                            panelStyleClass="custom-datepicker-panel"
                                            [(ngModel)]="printEndDate"
                                            view="month"
                                            dateFormat="mm/yy"
                                            [readonlyInput]="true" 
                                            (click)="$event.stopPropagation()" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>כמות סטים להדפסה:</label>
                                <div class="form-row">
                                    <p-inputnumber class="sets-input" [(ngModel)]="printSets" [min]="1"
                                        [showButtons]="true" />
                                </div>
                            </div>
                            @if (printRangeError()) {
                            <div class="print-error-message">
                                {{ printRangeError() }}
                            </div>
                            }
                            <div class="flex grow items-end">
                                <button (click)="prepareAndPrint()" class="prepare-print-btn">
                                    <span class="pi pi-print"></span>
                                    <span>הכן להדפסה</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    }
</div>



<ng-template #desktopOverlay>
    <div class="desktop-only-overlay">
        <div class="icon-wrapper">
            <div class="svg-icon"></div>
        </div>
        <div class="overlay-content">
            <p class="title">תכונה זמינה במסכים רחבים</p>
            <p class="description">עבור למסך גדול יותר כדי להשתמש באפשרות זו</p>
        </div>
    </div>
</ng-template>