/* =========================================
   1. BUTTONS & ACTIONS
   ========================================= */

/* Standard Buttons */
.p-button-danger {
	--p-button-danger-background: var(--red-50);
	--p-button-danger-color: var(--grey-800);
	--p-button-danger-border-color: transparent;
	--p-button-danger-hover-background: var(--red-500);
	--p-button-danger-hover-border-color: transparent;
}

/* Icon Only Buttons */
@mixin icon-button($size, $padding, $icon-size) {
	.p-button-icon-only {
		width: $size !important;
		height: $size !important;
		padding: $padding !important;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.p-button-icon {
			font-size: $icon-size !important;
		}
	}
}

.sm-icon {
	@include icon-button(24px, 4px, 16px);
}

.xs-icon {
	@include icon-button(20px, 2px, 12px);
}


/* Split Button */
p-splitbutton {
	.p-button-outlined:not(:disabled):hover {
		background-color: transparent !important;
	}
	.p-button-sm {
		padding: 0 !important;
		font-size: 12px !important;
	}
	.p-button-sm .p-button-icon {
		width: 24px !important;
		font-size: 12px !important;
	}
	.p-button-label {
		font-size: 12px !important;
	}
	.p-iconwrapper {
		position: relative;
		svg {
			display: none;
		}
		&::after {
			content: '\e313';
			position: absolute;
			font-size: 14px;
			font-family: 'Material Symbols Rounded';
		}
	}
	.p-splitbutton-button.p-button-small.p-button-sm {
		padding: 4px 8px 4px 0px !important;
		gap: 0;
	}
}

/* Select Button */
p-selectbutton.custom.sm {
	.p-togglebutton-content {
		padding: clamp(2px, 2vw, 4px);
		.material-symbols-rounded {
			font-size: 18px;
		}

		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			gap: 2px;

			.label {
				font-size: 10px;
				line-height: 10px;
				font-weight: 400;
			}
		}
	}
}

/* =========================================
   2. INPUTS & FORMS
   ========================================= */

/* General Input Styling */
textarea,
.p-inputtext,
.p-textarea,
.p-select,
.p-multiselect {
	border-radius: 24px !important;
	border: 1px solid var(--grey-200) !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03) !important;
	transition: all 0.2s ease-in-out !important;
	background: linear-gradient(0deg, var(--grey-50), white) !important;
	outline: none;
	font-size: 12px !important;

	&::placeholder,
	.p-select-label.p-placeholder,
	.p-select-label {
		padding: 0 4px !important;
		font-size: 12px !important;
		font-weight: 400 !important;
		letter-spacing: 0.2px !important;
	}

	&.sm {
		padding: 0 4px !important;
		font-size: 12px !important;
	}

	&:hover {
		border-color: var(--grey-300) !important;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06) !important;
	}

	&:focus,
	&:focus-within,
	&:active,
	&.p-select-open {
		border-color: var(--primary-200) !important;
		box-shadow: 0 4px 12px var(--primary-50) !important;
	}

	&:disabled {
		opacity: 0.7;
		background: var(--grey-40) !important;
		&:hover {
			border-color: var(--grey-200) !important;
			background: var(--grey-30) !important;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) !important;
		}
	}
}

.p-inputtext {
	width: 100%;
}

/* Dropdown Items */
p-selectitem {
	border-radius: 4px !important;
}

p-selectitem:last-child .p-select-option {
	border-radius: 4px 4px 8px 8px !important;
}

/* Select (Dropdown) */
.p-select {
	direction: rtl;
	background-color: var(--grey-20);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 0.5rem;
	height: 100%;
	align-items: center;

	svg.p-select-dropdown-icon.p-icon {
		display: none;
	}

	.p-select-dropdown::after {
		content: '\e313';
		font-family: 'Material Symbols Rounded';
		font-size: 20px !important;
		color: var(--grey-600) !important;
		position: absolute;
		top: 50%;
		left: 0.75rem;
		transform: translateY(-50%);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
	}

	&.p-select-open .p-select-dropdown::after {
		transform: translateY(calc(-50% - 1px)) rotate(180deg);
		color: var(--primary-500) !important;
	}
}

.p-select-option {
	direction: rtl;
	font-size: 14px;
}

.p-multiselect-option {
	font-size: 12px;
	.p-checkbox .p-checkbox-box {
		width: 16px;
		height: 16px;
		margin-top: 2px;
	}
}


/* MultiSelect */
.p-multiselect {
	width: 100%;


	svg.p-multiselect-dropdown-icon.p-icon {
		display: none;
	}

	&.p-inputwrapper {
		.p-multiselect-clear-icon.p-icon {
			width: 12px;
			height: 12px;
		}
	}

	.p-multiselect-dropdown::after {
		content: '\e313';
		font-family: 'Material Symbols Rounded';
		font-size: 20px !important;
		color: var(--grey-600) !important;
		position: absolute;
		top: 50%;
		left: 0.75rem;
		transform: translateY(-50%);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
	}

	&.p-multiselect-open .p-multiselect-dropdown::after {
		transform: translateY(calc(-50% - 1px)) rotate(180deg);
		color: var(--primary-500) !important;
	}
}

/* Password Input */
p-password {
	> .p-icon {
		cursor: pointer !important;
	}
	&.p-password {
		width: 100%;
		.p-inputtext {
			width: 100%;
		}
	}
}

/* Number Input */
input.p-inputtext.p-inputnumber-input {
	position: relative !important;
	border-radius: 20px;
}

.p-inputnumber-stacked {
	
	.p-inputnumber-input {
		padding-inline: 16px !important;
    	text-align: center!important;
	}
	.p-inputnumber-button {
		position: absolute !important;
		top: 50%;
		transform: translateY(-50%);

		&:active,
		&:focus {
			transform: translateY(-50%) !important;
			outline: none;
		}

		&:hover {
			background: transparent;
		}
	}

	.p-inputnumber-button-group {
		position: static !important;
		.p-icon {
			visibility: hidden;
			display: none;
		}
	}

	.p-inputnumber-decrement-button,
	.p-inputnumber-increment-button {
		&::after {
			font-family: 'Material Symbols Rounded';
			font-size: 18px !important;
			color: var(--grey-600) !important;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s ease-in-out;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover::after {
			background-color: var(--grey-100);
		}
	}

	.p-inputnumber-increment-button {
		left: -1px;
		&::after {
			content: '\e145';
		}
	}

	.p-inputnumber-decrement-button {
		right: -1px;
		&::after {
			content: '\e15b';
		}
	}
}

/* =========================================
   3. DATA DISPLAY (TABLES)
   ========================================= */
.p-paginator {
	direction: ltr;
}
.p-datatable {
	background: var(--grey-20);
	border-radius: var(--border-radius);
	overflow: hidden;
	box-shadow: var(--box-shadow);
}

.p-datatable th,
.p-datatable td {
	font-size: clamp(11px, 1.5vw, 13px);
}

.p-datatable th {
	background: var(--grey-60) !important;
	color: var(--grey-500);
	font-weight: 500;
	padding: 0.5rem;
	white-space: nowrap;

	.p-datatable-sort-icon {
		height: 10px;
	}
}

.p-datatable td {
	padding: 0.5rem;
	border-bottom: 1px solid var(--grey-50);
	transition: 0.2s ease-in-out all;
	@media screen and (max-width: 768px) {
		justify-content: flex-start !important;
	}
}

.p-datatable tr {
	transition: 0.2s ease-in-out;

	&:hover {
		background-color: var(--grey-20) !important;
		transition: all 0.3s ease;
		> td {
			color: var(--primary-700);
		}
	}

	&:last-child td {
		border-bottom: none;
	}

	/* Delete Row Effect */
	&:has(.delete-btn) {
		position: relative;
		&::after {
			transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
			content: '';
			position: absolute;
			left: 6px;
			top: 50%;
			transform: translateY(-50%);
			height: 0%;
			width: 2px;
			background-color: var(--red-200);
			border-radius: 50px;
		}
	}

	&:has(.delete-btn:hover) {
		background-color: var(--red-50) !important;
		&::after {
			height: 55%;
			width: 2px;
			background-color: var(--red-500);
		}
	}
}

/* Expanded Rows */
tr[ng-reflect-animation-trigger='rowExpansionTrigger'] {
	backface-visibility: hidden;
	perspective: 1000px;
	> td {
		background-color: green !important;
		border: 1px solid green !important;
	}
}

.expanded-table-content {
	box-shadow: none;
	border: 1px solid var(--grey-100);
	th {
		background-color: var(--grey-40) !important;
	}
	> td {
		padding: 0;
		background-color: green !important;
		border: 1px solid green !important;
	}
}

/* Table Helpers */
.actions-cell {
	display: flex;
	gap: 12px;

	.p-button.p-button-icon-only {
		width: 16px !important;
		height: 16px !important;
		padding: 0.25rem !important;
		display: flex;
		align-items: center;
		justify-content: center;

		.p-button-icon {
			font-size: 14px !important;
		}

		&.delete-btn {
			color: var(--red-500) !important;

			&:not(:disabled):hover {
				background: var(--red-20) !important;
			}
			&:not(:disabled):active {
				background: var(--red-30) !important;
			}
		}
	}
}
.item-to-delete {
	background-color: var(--red-100) !important;
	border: 1px solid var(--red-300) !important;
	border-radius: 12px !important;
	transition: all 0.2s ease-in-out;
	&::after {
		height: 55%;
		width: 2px;
		background-color: var(--red-500);
	}
}

.table-image {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 6px;
	border: 1px solid var(--grey-200);
}

.no-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--grey-50);
	border-radius: 4px;
	color: var(--grey-400);
	font-size: 10px;
	padding: 2px;
	width: 32px;
	height: 32px;
	border-radius: 6px;
	i {
		font-size: 24px;
		opacity: 0.7;
	}
	span {
		line-height: 1;
	}
}

/* =========================================
   4. OVERLAYS & POPUPS
   ========================================= */

/* Dialog */
.p-dialog {
	direction: rtl;
	overflow: hidden;

	.p-dialog-header {
		color: var(--grey-800);
		padding: 12px 20px 0;
		.p-button-text.p-button-secondary {
			width: 32px !important;
			height: 16px !important;
		}
	}

	&.no-header {
		.p-dialog-header {
			padding: 0px;
		}
		.p-dialog-header-actions {
			display: none;
		}
	}

	&.bottom-overlay {
		position: relative;
	}

	.p-dialog-title {
		font-weight: 500;
		font-size: 18px;
		color: var(--grey-900);
	}

	.p-dialog-footer,
	.dialog-footer {
		// padding: 1rem;
		display: flex;
		justify-content: flex-end;
		gap: 0.5rem;
	}

	@media (max-width: var(--xs)) {
		.p-dialog-content {
			padding: 0 16px 16px !important;
		}
		.p-card-body {
			padding: 0.5rem;
		}
		.detail-item {
			gap: 0.5rem;
			.detail-icon {
				font-size: 1rem;
			}
			.detail-label,
			.detail-value {
				font-size: 0.8rem;
			}
		}
	}
}

.p-overlay-content {
	direction: rtl;
}

/* Custom Popover (User Menu) */
.custom-popover {
	.p-popover-content {
		padding: 0 !important;
	}

	.popover-wrapper {
		text-align: right;
		display: flex;
		flex-direction: column;

		.popover-header {
			padding: 8px 8px 4px;
			border-bottom: 1px solid var(--grey-100);
			text-align: right;
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;
			transition: background-color 0.2s;

			.avatar {
				width: 28px;
				height: 28px;
				border-radius: 50%;
				margin-bottom: 4px;
				background: linear-gradient(135deg, var(--primary-100), var(--primary-200)) !important;
				box-shadow: var(--main-shadow);
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 600;
				font-size: 0.9rem;
			}
			.name {
				display: block;
				font-weight: 600;
				color: var(--grey-800);
				line-height: 12px;
			}
			.role {
				font-size: 0.8rem;
				color: var(--grey-500);
				line-height: 12px;
			}
		}

		.action-item {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 4px 12px;
			cursor: pointer;
			transition: all 0.2s;
			color: var(--grey-600);
			font-size: 12px;
			border-radius: 4px;
			margin: 2px;

			&:hover {
				background-color: var(--grey-50);
				color: var(--grey-700);
			}

			&.logout {
				color: var(--red-500);
				&:hover {
					background-color: var(--red-50);
				}
			}
			> .pi {
				font-size: 13px;
			}
		}
	}
}

/* Tooltip */
.p-tooltip {
	.p-tooltip-text {
		direction: rtl;
		background-color: var(--grey-700);
		color: #ffffff;
		padding: 4px 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		font-family: var(--app-font-family);
		border-radius: 4px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		animation: fadeIn 0.3s ease-in;
	}
	/* Reset arrows */
	&.p-tooltip-top .p-tooltip-arrow,
	&.p-tooltip-bottom .p-tooltip-arrow,
	&.p-tooltip-left .p-tooltip-arrow,
	&.p-tooltip-right .p-tooltip-arrow {
		border-color: transparent;
	}
	/* Warning variant */
	&.warning {
		.p-tooltip-text {
			background-color: var(--red-300);
			color: #ffffff;
		}
		&.p-tooltip-top .p-tooltip-arrow,
		&.p-tooltip-bottom .p-tooltip-arrow,
		&.p-tooltip-left .p-tooltip-arrow,
		&.p-tooltip-right .p-tooltip-arrow {
			border-color: transparent;
		}
	}
}

/* Toast */
.p-toast {
	width: fit-content !important;
	min-width: 280px;
	.p-toast-message {
		margin-bottom: 0.5rem;
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		overflow: hidden;
	}
	.p-toast-message-content {
		border-radius: 3px;
		padding: 16px 12px 16px 0;
		background-color: #4949491f;
		.p-toast-message-text {
			gap: 0 !important;
		}
		.p-toast-detail {
			color: var(--grey-700);
		}
		.p-toast-close-icon {
			color: var(--grey-600);
			width: 14px;
			height: 14px;
		}
	}
	.p-toast-message-icon {
		font-size: 18px;
	}

	.p-toast-summary {
		line-height: 16px;
		font-size: 15px;
	}
	.p-toast-close-button {
		&:hover {
			background-color: rgba(255, 255, 255, 0.1) !important;
			color: #ffffff;
		}
		&:focus {
			outline: none;
			box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2) !important;
		}
	}
	.p-toast-detail {
		font-size: 12px;
		font-weight: 400;
	}

	/* Variants */
	.p-toast-message-success {
		.p-toast-message-icon,
		.p-toast-summary {
			color: var(--green-500);
		}
		.p-toast-message-content {
			// border-left: 3px solid var(--green-400);
			// background: linear-gradient(145deg, var(--green-20), var(--green-30));
		}
	}
	.p-toast-message-error {
		.p-toast-message-icon,
		.p-toast-summary {
			color: var(--red-500);
		}
		.p-toast-message-content {
			// border-left: 3px solid var(--red-400);
			// background: linear-gradient(145deg, var(--red-20), var(--red-30));
		}
	}
	.p-toast-message-warn {
		.p-toast-message-icon,
		.p-toast-summary {
			color: var(--yellow-500);
		}
		.p-toast-message-content {
			// border-left: 3px solid var(--yellow-400);
			// background: linear-gradient(145deg, var(--yellow-20), var(--yellow-30));
		}
	}
	.p-toast-message-info {
		.p-toast-message-icon,
		.p-toast-summary {
			color: var(--primary-500);
		}
		.p-toast-message-content {
			// border-left: 3px solid var(--primary-400);
			// background: linear-gradient(145deg, var(--primary-20), var(--primary-30));
		}
	}
}

/* =========================================
   5. NAVIGATION (MENUS & TABS)
   ========================================= */

/* Tiered Menu */
.p-tieredmenu {
	min-width: fit-content !important;
}

p-tieredmenusub {
	span.p-tieredmenu-item-icon,
	span.p-tieredmenu-item-label {
		font-size: 12px !important;
	}
	a.p-tieredmenu-item-link {
		padding: 8px 12px !important;
	}
}

.p-menu-item-content > a.p-menu-item-link {
	direction: rtl;
}

/* PrimeNG Tabs */
div.p-tablist-tab-list,
p-tabpanels.p-tabpanels.p-component {
	background-color: transparent;
	background: transparent;
}

div.p-tablist-tab-list > .p-tablist-active-bar {
	background-color: var(--primary-500);
}

p-tab.p-tab {
	color: var(--grey-600);
}

p-tab.p-tab-active {
	color: var(--primary-500);
	border-color: var(--primary-300);
}

p-tab.p-tab:not(.p-tab-active):not(.p-disabled):hover {
	background-color: transparent;
	background: transparent;
}
