input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
	-webkit-text-fill-color: #000 !important;
	background-color: transparent !important;
	background-image: none !important;
	color: #000 !important;
}



html {
	height: 100%;
	scroll-behavior: smooth;
	direction: rtl;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: var(--selected-font-family), var(--app-font-family);
	font-weight: 400;
	font-style: normal;
	color: var(--text-color);
}

body {
	min-height: 100%;
	height: 100%;
	/* background-color: var(--grey-100); */
	/* overflow: hidden; */
}

.material-symbols-rounded {
	font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 28;
}

a {
	cursor: pointer;
}

/* SCROLL BAR */
/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background: transparent !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 40px;
	background: #d1d5db;
	/* background-color: var(--secondary-200); */
	cursor: pointer;

	&:hover {
		/* background: var(--secondary-500); */
		background: #1e293b;
	}
}

::-webkit-scrollbar-track {
	/* border: 1px solid var(--secondary-300); */
	border: #f1f1f1;
	border-radius: 28px;
	scrollbar-color: white;
	-ms-overflow-style: none;
	/* Hide scrollbar for IE and Edge */
	scrollbar-width: thin;
	/* Specify a scrollbar width for Firefox */
	scrollbar-color: white;
	/* Specify scrollbar color for Firefox */
}

::selection {
	background-color: var(--primary-300);
	color: white;
}

::-moz-selection {
	background-color: var(--primary-300);
	color: white;
}
