:host {
	display: block;
}

.color-input-label {
	cursor: pointer;
	display: block;
}

.color-input-hidden {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}


.color-input-display i {
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;
	font-size: 0.625rem;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}


.color-input-display {
	height: 20px;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	
		&:hover {
			transform: scale(1.08);
			border-color: rgba(255, 255, 255, 0.3);


			i {
				transform: scale(0.94);
				rotate: 270deg;
			}
		}

}
