@use 'variables' as *;

.calender-wrapper {
	direction: ltr;
	height: 100vh;
	width: 100%;
	border-radius: 0.25rem;
	overflow: hidden;
	color: var(--grey-800);
	padding: 0 clamp(0.5rem, 2vw, 1.5rem) clamp(0.5rem, 2vw, 1.5rem) clamp(0.5rem, 2vw, 1.5rem);
	box-sizing: border-box;
	background: transparent;
	position: relative;
	.header-wrapper {
		direction: rtl;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3rem;
		font-weight: 600;
		font-size: clamp(0.875rem, 1.5vw, 1rem);
		cursor: default;

		.header-contents {
			padding: clamp(4px, 1vw, 8px) 0;
			display: flex;
			height: 100%;
			justify-content: space-between;
			align-items: center;
			gap: clamp(0.25rem, 0.75vw, 0.5rem);
			width: 100%;

			.header-group {
				display: flex;
				gap: clamp(0.25rem, 0.75vw, 0.5rem);
				align-items: center;

				.header-date-block {
					display: flex;
					/* padding-bottom: clamp(0.125rem, 0.35vw, 0.25rem); */
					gap: clamp(0.25rem, 0.75vw, 0.5rem);
					width: clamp(80px, 20vw, 220px);

					.header-item {
						display: flex;
						justify-content: center;
						align-items: center;
						line-height: 12px;
						border-radius: 0.25rem;
						/* padding: 0 clamp(0.125rem, 0.35vw, 0.25rem); */
						background-color: rgba(255, 255, 255, 0.2);
						font-size: clamp(12px, 1.75vw, 20px);
					}
				}
			}
		}
	}

	.days-titles {
		display: flex;
		height: 2rem;
		width: 100%;

		.day-name {
			border-color: var(--grey-600);
			height: 100%;
			width: 100%;
			cursor: default;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: clamp(0.75rem, 1.25vw, 1rem);
		}
	}

	.days {
		height: calc(100% - 5rem);
		line-height: 1.75rem;
		display: grid;
		grid-template-columns: repeat(7, minmax(0, 1fr));
		grid-auto-rows: 1fr;
		width: 100%;
		border-radius: clamp(0.5rem, 1vw, 0.75rem);
		overflow: hidden;
		// border: 1px solid var(--grid-border-color);

		.day {
			direction: rtl;
			border: 1px solid transparent;
			display: flex;
			flex-direction: column;
			padding: clamp(2px, 0.75vw, 4px);
			font-size: 14px;
			height: 100%;
			width: 100%;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			overscroll-behavior: contain;
			position: relative;
			outline: 1px solid var(--grid-border-color);
			outline-offset: -2px;
			border-radius: 5px;
			background-color: white;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					border-color: color-mix(in srgb, var(--theme-color) 15%, white);
					box-shadow: inset 0 0 10px 2px color-mix(in srgb, var(--theme-color) 15%, white);
				}
			}

			&:first-child {
				border-top-left-radius: clamp(0.5rem, 1vw, 0.75rem);
			}

			&:nth-child(7) {
				border-top-right-radius: clamp(0.5rem, 1vw, 0.75rem);
			}

			&:nth-last-child(7) {
				border-bottom-left-radius: clamp(0.5rem, 1vw, 0.75rem);
			}

			&:last-child {
				border-bottom-right-radius: clamp(0.5rem, 1vw, 0.75rem);
			}

			&.other-month {
				opacity: 1;
				> * {
					opacity: 0.2;
				}
			}

			&.today {
				border-color: color-mix(in srgb, var(--theme-color) 25%, white);
				border-radius: 4px;
				animation: expand-shadow 1.5s ease-in-out infinite alternate;
				@keyframes expand-shadow {
					0% {
						box-shadow: inset 0 0 10px 2px color-mix(in srgb, var(--theme-color) 15%, white);
					}
					100% {
						box-shadow: inset 0 0 20px 5px color-mix(in srgb, var(--theme-color) 20%, white);
					}
				}
			}

			.day-gregorian-date {
				font-weight: 600;
				color: color-mix(in srgb, var(--theme-color) 60%, black);
			}

			@media print {
				&.today {
					background-color: transparent;
					border: 1px solid var(--grid-border-color);
					outline: 2px solid transparent;
				}
				&:hover {
					box-shadow: none;
					border-radius: 0px;
					border: 1px solid var(--grid-border-color);
					outline: 2px solid transparent;
				}
			}

			&.saturday,
			&.holiday-bg {
				color: var(--theme-color);
				background: color-mix(in srgb, var(--theme-color) var(--shabbat-bg-opacity), white);
			}

			&.friday:not(.saturday, .holiday-bg),
			&.holiday-eve-bg:not(.saturday, .holiday-bg),
			&.chol-hamoed-bg:not(.saturday, .holiday-bg) {
				color: color-mix(in srgb, var(--theme-color) 60%, white);
				--mixed-bg-color: color-mix(in srgb, var(--theme-color) var(--shabbat-bg-opacity), white);

				/* 2. Use it in a gradient (Color -> Transparent) */
				background-image: linear-gradient(to top, var(--mixed-bg-color), white);

				/* 3. Restrict it to the bottom 50% of the cell */
				background-size: 100% 50%;
				background-repeat: no-repeat;
				background-position: bottom;

				-webkit-print-color-adjust: exact !important;
				print-color-adjust: exact !important;
			}

			.day-header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				width: 100%;

				.hebrew-date-container {
					display: flex;
					align-items: center;
					gap: 4px;
					width: 100%;
				}
			}

			.day-hebrew-date {
				font-size: clamp(12px, 2.25vw, 18px);
				line-height: 12px;
			}

			.day-gregorian-date {
				font-size: clamp(24px, 4.5vw, 36px);
				font-weight: 500;
			}

			.day-content {
				height: 100%;
				display: flex;
				flex-direction: column;
				font-size: clamp(10px, 1vw, 13px);
				line-height: clamp(10px, 0.75vw, 11px);

				.day-events,
				.day-extra-content {
					display: flex;
					flex-direction: column;
				}

				.day-extra-content {
					font-size: clamp(0.6rem, 0.875vw, 0.7rem);
					display: flex;
					justify-content: space-between;
					flex-grow: 1;
					padding: 2px 0;

					@media (max-width: $xl) {
						display: none;
					}
				}

				.day-omer,
				.day-molad,
				.day-other-zmanim,
				.day-learning {
					padding: 0 clamp(0.125rem, 0.35vw, 0.25rem);
				}

				.day-other-zmanim,
				.day-learning {
					display: flex;
					flex-direction: column;
					font-size: 0.9em;
					line-height: 13px;
					color: var(--grey-600);
					line-height: 10px;
					font-weight: 500;

					max-height: 50px;
					overflow: hidden;
					overscroll-behavior-y: contain;
				}

				.event {
					display: flex;
					white-space: normal;

					&.holiday {
						color: var(--theme-color);
						padding: 2px 0;
					}

					&.parasha {
						color: color-mix(in srgb, var(--theme-color) 80%, black);
					}

					&.zman {
						color: color-mix(in srgb, var(--theme-color) 50%, black);
						white-space: nowrap;
					}
				}
			}
		}
	}

	.settings-menu-wrapper {
		position: fixed;
		top: 40px;
		left: 8px;
		z-index: 50;
		transform: translateX(-150%);
		transition: all 0.2s ease-in-out;
		opacity: 0;
		border-radius: clamp(0.75rem, 1.5vw, 1rem);
		backdrop-filter: blur(7px);
		background: rgba(255, 255, 255, 0.91);
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(223, 223, 223, 0.472);
		visibility: hidden;
		font-family: var(--app-font-family);

		&.show {
			transform: translateX(0%);
			opacity: 1;
			visibility: visible;
			> * {
				transition: all 0.2s ease-in-out;
				opacity: 1;
			}
		}
	}
}

/* --- Print Styles --- */
@media print {
	.calender-wrapper,
	.days {
		direction: ltr !important;
	}

	.print-container .days {
		// border: 1px solid var(--grid-border-color);
	}
	.print-preview-mode .day,
	.print-container .day {
		// border: 1px solid var(--grid-border-color) !important;
		outline: 1px solid var(--grid-border-color);
		outline-offset: -2px;
		border-radius: 5px;
	}

	.calender-wrapper .days .day .day-content {
		display: flex !important;
	}
}
@media print {
	@page {
		margin: 0;
		size: A4 landscape;
	}
	* {
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}

	.no-print {
		display: none !important;
	}

	.print-month-page {
		page-break-after: always;
	}

	.print-month-page:last-child {
		page-break-after: auto;
	}

	.print-container {
		.calender-wrapper {
			background: white !important;
		}

		.day {
			&.today {
				background-color: transparent !important;
			}
		}
	}
}

.badge {
	font-size: 10px;
	font-weight: 400;
	padding: 2px 3px;
	border-radius: 4px;
	line-height: 1;
	white-space: nowrap;
	width: fit-content;
	height: fit-content;
	background-color: var(--grey-60);
	color: var(--grey-600);
	&.rosh-hodesh-badge {
		// background-color: var(--primary-100);
		color: var(--primary-500);
	}

	&.omer-badge {
		color: var(--green-500);
	}

	&.hallel-badge {
		color: var(--secondary-500);
	}

	&.mevarchim-badge {
		color: var(--secondary-600);
	}

	&.molad-badge {
		color: var(--secondary-700);
		position: relative;
		cursor: pointer;
		text-align: center;

		&:hover .custom-tooltip {
			opacity: 1;
		}
	}
}
