@use 'variables' as *;

.calender-wrapper {
	direction: ltr;
	height: 100vh;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
	color: var(--grey-800);
	box-sizing: border-box;
	background: transparent;
	position: relative;
	padding: 0 8px 16px 8px;

	@media (min-width: $md) {
		padding: 0 24px 24px 24px;
		border-radius: 8px;
	}

	.header-wrapper {
		direction: rtl;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3rem;
		font-weight: 600;
		cursor: default;

		font-size: 14px;
		@media (min-width: $md) {
			font-size: 16px;
		}

		.header-contents {
			padding: 4px 0;
			display: flex;
			height: 100%;
			justify-content: space-between;
			align-items: center;
			gap: 4px;
			width: 100%;

			@media (min-width: $md) {
				padding: 8px 0;
				gap: 8px;
			}

			.header-group {
				display: flex;
				gap: 4px;
				align-items: center;

				@media (min-width: $md) {
					gap: 8px;
				}

				.header-date-block {
					display: flex;
					gap: 4px;

					@media (min-width: $md) {
						gap: 8px;
						width: 220px;
					}

					.header-item {
						display: flex;
						justify-content: center;
						align-items: center;
						line-height: 12px;
						border-radius: 4px;
						background-color: rgba(255, 255, 255, 0.2);
						font-size: 14px;
						padding: 2px 4px;

						@media (min-width: $md) {
							font-size: 20px;
						}
					}
				}
			}
		}
	}

	.days-titles {
		display: flex;
		height: 2rem;
		width: 100%;

		.day-name {
			border-color: var(--grey-600);
			height: 100%;
			width: 100%;
			cursor: default;
			display: flex;
			align-items: center;
			justify-content: center;

			font-size: 12px;
			@media (min-width: $md) {
				font-size: 16px;
			}
		}
	}

	.days {
		height: calc(100% - 5rem);
		line-height: 1.75rem;
		display: grid;
		grid-template-columns: repeat(7, minmax(0, 1fr));
		grid-auto-rows: 1fr;
		width: 100%;
		overflow: hidden;

		border-radius: 8px;
		@media (min-width: $md) {
			border-radius: 12px;
		}

		.day {
			direction: rtl;
			border: 1px solid transparent;
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			overscroll-behavior: contain;
			position: relative;
			outline: 1px solid var(--grid-border-color);
			outline-offset: -2px;
			border-radius: 5px;
			background-color: white;
			padding: 4px;
			@media (min-width: $md) {
				padding: 8px;
			}

			font-size: 14px;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					border-color: color-mix(in srgb, var(--theme-color) 15%, white);
					box-shadow: inset 0 0 10px 2px color-mix(in srgb, var(--theme-color) 15%, white);
				}
			}

			&:first-child {
				border-top-left-radius: 12px;
			}

			&:nth-child(7) {
				border-top-right-radius: 12px;
			}

			&:nth-last-child(7) {
				border-bottom-left-radius: 12px;
			}

			&:last-child {
				border-bottom-right-radius: 12px;
			}

			&.other-month {
				opacity: 1;
				> * {
					opacity: 0.2;
				}
			}

			&.today {
				border-color: color-mix(in srgb, var(--theme-color) 25%, white);
				// border-radius: 4px;
				animation: expand-inset-shadow 0.8s ease-in-out 10 alternate-reverse forwards;
			}

			.day-gregorian-date {
				font-weight: 500;
				break-inside: avoid;
				page-break-inside: avoid;
				background: linear-gradient(135deg, var(--theme-color), color-mix(in srgb, var(--theme-color) 60%, black));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				font-size: 24px;

				@media (min-width: $md) {
					font-size: 32px;
				}
			}

			@media print {
				&.today {
					background-color: transparent;
					border: 1px solid transparent!important;
					animation: none;
					outline: 2px solid var(--grid-border-color)!important;
					box-shadow: none!important;
				}
				&:hover {
					box-shadow: none;
					border-radius: 0px;
					border: 1px solid var(--grid-border-color);
					outline: 2px solid transparent;
				}
				.day-gregorian-date {
					background: none !important;
					-webkit-text-fill-color: unset !important;
					color: color-mix(in srgb, var(--theme-color) 75%, black) !important;
					display: inline-block !important;
				}
			}

			&.saturday,
			&.holiday-bg {
				color: var(--theme-color);
			}

			&.shabbat-bg,
			&.holiday-bg {
				background: color-mix(in srgb, var(--theme-color) var(--shabbat-bg-opacity), white);
			}

			&.friday-bg:not(.saturday, .holiday-bg),
			&.holiday-eve-bg:not(.saturday, .holiday-bg),
			&.chol-hamoed-bg:not(.saturday, .holiday-bg) {
				color: color-mix(in srgb, var(--theme-color) 60%, white);
				--mixed-bg-color: color-mix(in srgb, var(--theme-color) var(--shabbat-bg-opacity), white);
				background-image: linear-gradient(to top, var(--mixed-bg-color), white);
				background-size: 100% 50%;
				background-repeat: no-repeat;
				background-position: bottom;

				-webkit-print-color-adjust: exact !important;
				print-color-adjust: exact !important;
			}

			.day-header {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				width: 100%;

				.day-hebrew-date {
					line-height: 12px;
					font-size: 12px;
					padding: 4px;
					width: 100%;

					@media (min-width: $md) {
						font-size: 16px;
					}
				}
			}

			.day-content {
				height: 100%;
				display: flex;
				flex-direction: column;
				line-height: 11px;

				font-size: 10px;
				@media (min-width: $md) {
					font-size: 12px;
				}

				.day-events,
				.day-extra-content {
					display: flex;
					flex-direction: column;
				}

				.day-extra-content {
					display: flex;
					justify-content: space-between;
					flex-grow: 1;
					padding: 2px 0;

					font-size: 10px;
					@media (min-width: $md) {
						font-size: 11px;
					}

					@media (max-width: $xl) {
						display: none;
					}
				}

				.day-omer,
				.day-other-zmanim,
				.day-learning {
					padding: 0 2px;
					@media (min-width: $md) {
						padding: 0 4px;
					}
				}

				.day-other-zmanim,
				.day-learning {
					display: flex;
					flex-direction: column;
					font-size: 0.9em;
					line-height: 13px;
					color: var(--grey-600);
					line-height: 10px;
					font-weight: 500;

					max-height: 50px;
					overflow: hidden;
					overscroll-behavior-y: contain;
				}

				.event {
					display: flex;
					white-space: normal;

					&.holiday {
						color: var(--theme-color);
						padding: 2px 0;
					}

					&.parasha {
						color: color-mix(in srgb, var(--theme-color) 80%, black);
					}

					&.zman {
						color: color-mix(in srgb, var(--theme-color) 50%, black);
						white-space: nowrap;
					}
				}
			}
		}
	}

	.settings-menu-wrapper {
		position: fixed;
		top: 40px;
		left: 8px;
		z-index: 50;
		transform: translateX(-150%);
		transition: all 0.2s ease-in-out;
		opacity: 0;
		border-radius: 16px;
		backdrop-filter: blur(7px);
		background: rgba(255, 255, 255, 0.91);
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(223, 223, 223, 0.472);
		visibility: hidden;
		font-family: var(--app-font-family);

		&.show {
			transform: translateX(0%);
			opacity: 1;
			visibility: visible;
			> * {
				transition: all 0.2s ease-in-out;
				opacity: 1;
			}
		}
	}
}

/* --- Print Styles --- */
@media print {
	.calender-wrapper,
	.days {
		direction: ltr !important;
	}

	.print-preview-mode .day,
	.print-container .day {
		outline: 1px solid var(--grid-border-color);
		outline-offset: -2px;
		border-radius: 5px;
	}

	.calender-wrapper .days .day .day-content {
		display: flex !important;
	}
}
@media print {
	@page {
		margin: 0;
		size: A4 landscape;
	}
	* {
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}

	.no-print {
		display: none !important;
	}

	.print-month-page {
		page-break-after: always;
	}

	.print-month-page:last-child {
		page-break-after: auto;
	}

	.print-container {
		.calender-wrapper {
			background: white !important;
		}

		.day {
			&.today {
				background-color: transparent !important;
			}
		}
	}
}

.badge {
	font-size: 10px;
	font-weight: 400;
	padding: 2px 3px;
	border-radius: 4px;
	line-height: 1;
	white-space: nowrap;
	width: fit-content;
	height: fit-content;
	background-color: var(--grey-60);
	color: var(--grey-600);
	&.rosh-hodesh-badge {
		color: var(--primary-500);
	}

	&.omer-badge {
		color: var(--green-500);
	}

	&.hallel-badge {
		color: var(--secondary-500);
	}

	&.mevarchim-badge {
		color: var(--secondary-600);
	}
}




@keyframes expand-inset-shadow {
	0% {
		outline-color: color-mix(in srgb, var(--theme-color) 10%, transparent);
		box-shadow: inset 0 0 1px 1px color-mix(in srgb, var(--theme-color) 5%, white);
	}
	100% {
		outline-color: color-mix(in srgb, var(--theme-color) 40%, white);
		box-shadow: inset 0 0 2px 5px color-mix(in srgb, var(--theme-color) 10%, white);
	}
}