@use 'tailwindcss';
@use './app/assets/styles/themes/_tailwind.css';
@use './app/assets/styles/themes/_ng-materials-config.scss';
@use './app/assets/styles/_variables.scss';
@use './app/assets/styles/_animations.scss';
@use './app/assets/styles/_buttons.scss';
@use './app/assets/styles/_reset.scss';
@use './app/assets/styles/_forms.scss';
@use './app/assets/styles/_tags.scss';
@use './app/assets/styles/_primeNG-override.scss';
@use './app/assets/styles/_angular-materials-override.scss';

@use 'primeicons/primeicons.css';
@use 'variables' as *;

.custom-tooltip {
	line-height: 1.4;
	font-size: 10px;
	font-weight: 400;
	text-align: center;
}

.p-checkbox {
	&.p-checkbox-checked .p-checkbox-box {
		background-color: var(--secondary-300) !important;
		border-color: var(--secondary-400) !important;
		color: white !important;
	}

	&.p-checkbox-checked .p-checkbox-icon {
		color: white !important;
		font-size: 12px;
		font-weight: bold;
	}
}

.custom-datepicker-panel {
	font-family: var(--app-font-family);
	.p-datepicker-header {
		padding: 0 0 4px;

		.p-button {
			padding: 0;
		}

		.p-button-icon-only.p-button-rounded {
			height: 24px;
			width: 24px;
		}

		.p-icon {
			width: 13px;
			height: 12px;
		}
	}
	.p-datepicker-year,
	.p-datepicker-header {
		font-size: 12px !important;
		white-space: nowrap;
	}

	.p-datepicker-month {
		font-size: 12px !important;
		font-weight: 400 !important;
	}
	.p-datepicker-select-year,
	.p-datepicker-select-month {
		font-size: clamp(12px, 1.75vw, 14px) !important;
	}

	.p-datepicker-month-selected,
	.p-datepicker-year-selected {
		color: var(--primary-600);
		background-color: var(--grey-20);
	}
}

.p-dialog-content {
	padding: 0 !important;
	@media (min-width: $sm) {
		padding: 0 12px !important;
	}
	@media (min-width: $md) {
		padding: 0 24px !important;
	}
}

.text-grey-sm {
	color: var(--grey-500);
	font-size: 12px;
}

.text-grey-xs {
	color: var(--grey-500);
	font-size: 10px;
}

strong {
	font-weight: 500;
	color: var(--grey-800);
	min-width: 60px;
	font-size: 11px;
}
